<div class="panel panel-primary">
    <div class="panel-heading">
        <span th:text="#{tContactTitle}"></span>
        <span class="fa fa-times cursor-pointer" ng-click="cancel()" style="margin-left: 5px; float: right"></span>
    </div>
    <div class="panel-body">
        <span th:text="#{tContactInfo}" style="display: block;"></span>
        <span th:text="#{tContactConsign}" style="display: block;"></span>
        <a th:text="#{tContactEmail}" style="display: block; margin-top: 5px;"></a>
    </div>
</div>