<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="digitTslWeb" ng-controller="appController" ng-init="initMenu()">
<head>
<link rel="icon" th:href="@{/style/favico.ico}" />
<th:block th:replace="head_fragment :: head_fragment"></th:block>

<script th:src="@{/controllers/homeController.js}"></script>

</head>
<body>
	<!-- Header -->
	<th:block th:replace="header :: header" th:remove="tag"></th:block>

	<div class="body">
		<!-- Menu -->
		<th:block th:replace="menu :: nav" th:remove="tag"></th:block>

		<main>
		<div class="alert alert-danger alert-dismissible" style="margin-top: 15px;">
			<div>
				<strong th:text="#{pdf.tlcc.error}"></strong>
			</div>
		</div>
		</main>
	</div>
</body>
</html>