<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="digitTslWeb" ng-controller="appController" ng-init="getUserInfo()">
<head>
<link rel="icon" th:href="@{/style/favico.ico}" />
<th:block th:replace="head_fragment :: head_fragment"></th:block>

<script th:src="@{/controllers/401ErrorController.js}"></script>

</head>
<body ng-controller="401errorController">
	<!-- Header -->
	<th:block th:replace="header :: header" th:remove="tag"></th:block>
	<div class="body">
		<main>
		<div class="alert alert-danger alert-dismissible" style="margin-top: 15px;">
			<div>
				<span th:text="#{tError401}"></span>
				<span> {{timer}} </span>
				<span th:text="#{tSecond}"></span>
				<div>
					(
					<a ng-href="{{url}}" target="_self" style="color: inherit;" class="uri" th:text="#{tClickHere}"></a>
					<span th:text="#{tRedirectBrowser}"></span>
					)

				</div>
			</div>
		</div>
		</main>
	</div>
	<!-- Footer -->
	<th:block th:replace="footer :: footer" th:remove="tag"></th:block>
</body>
</html>